@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-bcg-color: #FFFFFF;
  --primary-bcg-accent-color: #2196F3;
  --font-family: "Relaway", sans-serif;
  --font-family: "Roboto", sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.page-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul {
  margin: 0px;
  padding: 0px;
}

a {
  display: inline-block;
}

/*body*/
body {
  background-color: var(--primary-bcg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

.page-header {
  background: var(--primary-bcg-color);
  border-bottom: 1px solid #ECECEC;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-page-header {
  font-family: "Raleway";
  color: var(--title-text-color);
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin: 0;
  margin-right: 93px;
}

.logo-footer {
  font-family: "Raleway";
  color: var(--primary-bcg-color);
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-bottom: 20px;
}

.web-logo {
  color: var(--primary-bcg-accent-color);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

/* site-nav */
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
}

.site-nav__item {
  margin-left: 50px;
}

.site-nav__item:first-child {
  margin: 0;
}

.header-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-box2 {
  margin-left: auto;
}

.site-nav__item2 {
  margin-left: 50px;
  fill: rgb(117, 117, 117);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__item2:first-child {
  margin-left: 0;
}

.icon-mail,
.icon-phone {
  margin-right: 10px;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.icon-mail {
  fill: currentColor;
}

.icon-phone {
  fill: currentColor;
}

.button-port {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.button-port__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.link1 {
  color: #2196F3;
  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
}

/* анимация для линк */
.link1::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196F3;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.link1:hover::after,
.link1.active::after {
  opacity: 1;
}

/* .link:active{
    color:var(--primary-bcg-accent-color);
 } */
.link2 {
  color: black;
  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.link2::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196F3;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.link2:hover::after {
  opacity: 1;
}

.link2:hover,
.link2:focus,
.link2:active {
  color: var(--accent-color);
}

.resume {
  color: black;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.resume::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196F3;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.resume:hover::after {
  opacity: 1;
}

.resume:hover,
.resume:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.resume2 {
  color: #2196F3;
  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.resume2::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196F3;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.resume2:hover::after,
.resume2.active::after {
  opacity: 1;
}

.resume2:hover,
.resume2:focus {
  color: var(--title-text-color);
}

.contacts {
  color: black;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.contacts::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196F3;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  opacity: 0;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}

.contacts:hover::after {
  opacity: 1;
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

.mail {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.mail.link:hover,
.mail.link:focus {
  color: var(--accent-color);
}

/* анимация для mail.link */
.mail.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mail2 {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
}

.number {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-style: normal;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

a.number:hover .icon-phone {
  fill: var(--accent-color);
}

a.number:hover,
a.number:focus {
  color: var(--accent-color);
}

/*hero*/
.hero-title,
.features-title,
.work-title,
.staff-title {
  color: var(--title-text-color);
}

.section.hero {
  background-color: #2F303A;
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../image/Img-hero.jpg), url(../images/overlay.jpg);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/Img-hero.jpg), url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portfolio-section {
  background-color: var(--primary-bcg-color);
  padding: 94px 0;
}

.hero-title {
  max-width: 696px;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-bcg-color);
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  margin-bottom: 30px;
}

.title-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  margin-bottom: 0;
}

.title-list:first-child {
  margin: 0px;
}

/*features*/
.section.features {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #FFFFFF;
  padding: 94px 0;
  text-align: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.features-title {
  opacity: 0;
  display: none;
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  outline: 0;
  outline-offset: 0;
  display: block;
  margin-bottom: 10px;
  margin-top: 0px;
  text-align: left;
  color: var(--title-text-color);
}

.title-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-text-color);
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding-left: 0;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.features-list:last-child {
  margin-right: 0;
}

.feature-list__item {
  display: block;
  width: 270px;
}

.features-icons {
  height: 120px;
  background: rgb(245, 244, 250);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.icon-features {
  Width: 65px;
  Height: 70px;
}

/* work*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.work {
  padding-top: 0;
}

.work-title {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0 auto 50px;
}

/*work2*/
.work-title2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.work-list2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
  margin-bottom: 0;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

/* анимация для Чем мы занимаемся  */
.work-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.work-services__text {
  position: absolute;
  top: 100%;
  left: 100%;
  width: 370px;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
  padding-top: 27px;
  padding-bottom: 27px;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-bcg-color);
}

/*staff*/
.section.staff {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.staff-title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 0%;
}

.staff-list {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
}

.staff-position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 10px;
  margin-bottom: 30px;
}

.staff-title-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding-left: 0;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.staff-title-list:last-child {
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.staff-title-list li {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.staff-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.staff-socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 30px;
}

.title-clients {
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0 auto 50px;
}

/*button*/
.button-primary {
  background: var(--accent-color);
  color: var(--primary-bcg-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87px;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: none;
  cursor: pointer;
  height: 50px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.button-primary:hover,
.button-primary:focus {
  color: var(--title-text-color);
}

ul {
  list-style: none;
}

.button-port__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 9px;
}

.button-port__item:last-child {
  margin-right: 0;
}

.button-port__list {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background: #F5F4FA;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1 solid transparent;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.button-port__list:hover,
.button-port__list:focus {
  background-color: var(--primary-bcg-accent-color);
  color: var(--primary-bcg-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 0;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.button-port__list--active {
  background: var(--accent-color);
  border: none;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-bcg-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.button-port__list--active:hover,
.button-port__list--active:focus {
  /* color: var(--title-text-color); */
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*footer*/
.section.footer {
  padding: 60px 0;
  background-color: #2F303a;
}

.footer-nav {
  display: block;
  padding-left: 0;
}

.footer-nav-li {
  margin-bottom: 9px;
}

.footer-nav-li:last-child {
  margin-bottom: 0;
}

.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-number {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.footer-number:hover,
.footer-number:focus {
  color: var(--accent-color);
}

.location {
  color: #FFFFFF;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.section.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.offers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.offers-list__item {
  -ms-flex-preferred-size: calc(100% - 90px)/3;
      flex-basis: calc(100% - 90px)/3;
  margin-bottom: 30px;
  cursor: pointer;
  text-decoration: none;
}

.offers-list__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.offers-list__link {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.offers-list__link:hover,
.offers-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-border {
  border: 1px solid rgba(238, 238, 238, 0.9333333333);
  padding: 20px 24px;
}

/* анимация для портфолио карточек */
.offers-thump {
  position: relative;
  overflow: hidden;
}

.offers-thump:hover .overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
}

.offers-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  color: var(--primary-bcg-color);
}

/*Постоянные клиенты*/
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

/* clients-item */
.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.clients-list__link:hover .clients-icon {
  fill: var(--primary-bcg-accent-color);
}

.clients-list__link:focus .clients-icon {
  fill: var(--primary-bcg-accent-color);
}

.clients-list__link:hover,
.clients-list__link:focus {
  fill: var(--primary-bcg-accent-color);
  border-color: var(--primary-bcg-accent-color);
}

.footer-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-second {
  margin-right: 70px;
}

.footer-sociales-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.footer .staff-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  width: 44px;
  background-position: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: #AFB1B8;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.socials-link:hover,
.socials-link:focus {
  color: var(--primary-bcg-color);
  background-color: var(--accent-color);
}

.socials-link:hover .social-icon {
  fill: var(--primary-bcg-color);
}

.socials-item {
  margin-left: 10px;
}

.socials-item:first-child {
  margin-left: 0;
}

li.socials-item {
  -webkit-box-shadow: none;
          box-shadow: none;
  display: inline-block;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 30px;
  display: inline-block;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

/* .social-icon:hover,:focus { 
    background-color: var(--primary-bcg-accent-color);
    fill: var(--primary-bcg-color);

} */
.footer-sociales .socials-item {
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-sociales .socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  cursor: pointer;
  width: 44px;
  height: 44px;
  color: var(--primary-bcg-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

/* modalka */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--primary-bcg-color);
  width: 528px;
  height: 581px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 250ms var(--timing-function);
  transition: 250ms var(--timing-function);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-bcg-color);
  left: 490px;
  right: 8px;
  bottom: 543px;
  top: 8px;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.modal-button:hover,
.modal-button:focus {
  color: var(--primary-bcg-accent-color);
}

.modal-icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
  cursor: pointer;
}

/* стилизация для form modal */
/* сброс стилей */
input,
textarea {
  outline: none;
}

.form-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form {
  width: 528px;
  height: 581px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}

.form-field {
  position: relative;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-field.textarea {
  width: 100%;
  min-height: 120px;
  margin-bottom: 0;
}

.form-field-input.form-field-input-textarea {
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  height: 120px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  resize: none;
}

.form-field-input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.01em;
}

.form-field-input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.01em;
}

.form-field-input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.01em;
}

.form-field-input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.01em;
}

.form-field-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.01em;
}

.checkbox-label {
  display: block;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  line-height: 1.71;
  font-weight: 400;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox-icon2 {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  margin: right 7px;
}

.checkbox:checked + .checkbox-icon2 {
  border-color: transparent;
  background-color: #2196F3;
  background-image: url(../images/icons/sprite3.svg#icon-tip);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.form-field-input {
  display: block;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  min-height: 40px;
  border-radius: 4px;
  color: rgb(117, 117, 117);
  -webkit-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
  cursor: pointer;
}

.form-field-input:focus-within,
.form-field-input:focus {
  border: 1px solid var(--accent-color);
  color: var(--title-text-color);
  fill: var(--accent-color);
}

.form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform var(--timing-function);
  transition: -webkit-transform var(--timing-function);
  transition: transform var(--timing-function);
  transition: transform var(--timing-function), -webkit-transform var(--timing-function);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.form-field:focus-within > .form-icon,
.form-field:focus > .form-icon {
  fill: var(--accent-color);
}

.form-agreement-link {
  color: #2196F3;
  text-decoration: underline;
  margin-left: 2px;
}

.form-field-label {
  margin-bottom: 4px;
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub-button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--accent-color);
  color: var(--primary-bcg-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: color var(--timing-function);
  transition: color var(--timing-function);
}

.sub-button:hover {
  color: var(--title-text-color);
}

/* стилизация form для footer */
.subscribe {
  padding-left: 93px;
}

.subscribe-lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.subscribe-input {
  min-width: 358px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-bcg-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-button {
  min-width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8755;
  background-color: var(--accent-color);
  color: var(--primary-bcg-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscribe-client {
  vertical-align: middle;
}/*# sourceMappingURL=main.css.map */