.section.staff {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}



.staff-list {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    color: var(--title-text-color);
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;

}

.staff-position {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 10px;
    margin-bottom: 30px;
}

.staff-title-list {
    display: flex;
    text-align: center;
    padding-left: 0;
    column-gap: 30px;
    margin-top: 0;
    margin-bottom: 0;


}

.staff-title-list:last-child {
    column-gap: 30px;
}



.staff-socials {
    display: flex;
    justify-content: center;

}

.staff-socials-list {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 30px;
}