.logo-footer {
    font-family: 'Raleway';
    color: var(--primary-bcg-color);
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin-bottom: 20px;


}