.logo-page-header {
    font-family: 'Raleway';
    color: var(--title-text-color);
    font-weight: 700;
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin: 0;
    margin-right: 93px;
}