.hero-title,
.features-title,
.work-title,
.staff-title {
    color: var(--title-text-color);
}
.hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-bcg-color);
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    margin-bottom: 30px;

}
.title-list {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--primary-text-color);
}

.title-list {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.03em;
    margin-bottom: 0;

}

.title-list:first-child {
    margin: 0px;
}
.features-title {
    opacity: 0;
    display: none;
}

.feature-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    outline: 0;
    outline-offset: 0;
    display: block;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: left;
    color: var(--title-text-color);
}
.work-title {
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0 auto 50px;

}


.work-title2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: #212121;
    letter-spacing: 0.06em;
    margin-bottom: 4px;

}
.staff-title {
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    margin-top: 0%;
}
.staff-title-list {
    display: flex;
    text-align: center;
    padding-left: 0;
    column-gap: 30px;
    margin-top: 0;
    margin-bottom: 0;


}

.staff-title-list:last-child {
    column-gap: 30px;
}

.staff-list {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    color: var(--title-text-color);
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;

}

.staff-position {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 10px;
    margin-bottom: 30px;
}



.title-clients {
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0 auto 50px;
}
.footer-sociales-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #FFFFFF;
}