:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bcg-color: #FFFFFF;
    --primary-bcg-accent-color: #2196F3;
    --font-family: 'Relaway', sans-serif;
    --font-family: 'Roboto', sans-serif;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}